@page "/game/{Id:int}"
@using CrpgP.WebApplication.Models;
@using CrpgP.WebApplication.Services
@inject ApiService ApiService

<h3>Game Page</h3>

<p>Game id: @Id</p>

@code {
    [Parameter]
    public int Id { get; set; }

    private GameModel? _game;


    protected override async Task OnInitializedAsync()
    {
        _game = await ApiService.GetByIdAsync<GameModel>(Id);
    }

}