@page "/game/{Id:int}"
@using CrpgP.WebApplication.Models;
@using CrpgP.WebApplication.Services
@inject ApiService ApiService

<div class="content">
    <div class="content-body">
        <div class="content-section">
            @if (_game == null)
            {
                <div class="section-title">
                    <h2>Game Page</h2>
                </div>
                
                <p>
                    <em>Loading...</em>
                </p>
            }
            else
            {
                <div class="section-title">
                    <h2>@_game.Name</h2>
                </div>
                
                <div class="game-section">
                    <div class="game-logo">
                        <img src="images/placeholder-600x600.png" alt="game-logo"/>
                    </div>
                    
                </div>
                
                @if (_portraits == null)
                {
                    <p>
                        <em>Loading Portraits...</em>
                    </p>
                }
                else
                {
                    <div class="section-title">
                        <h2>Portraits</h2>
                    </div>
                    <div class="portraits-grid">
                        <div class="row">
                            @foreach (var portrait in _portraits)
                            {
                                <div class="col-md-3 portrait-box">
                                    <a href="/portrait/@portrait.Id">
                                        <ContentBoxPortrait
                                            DisplayName=@portrait.DisplayName
                                            Slug="slug"
                                            ImagePath="path"/>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>


@code {
    [Parameter]
    public int Id { get; set; }

    private GameModel? _game;
    private IEnumerable<PortraitModel>? _portraits;
    private int _currentPortraitsPage = 0;

    protected override async Task OnInitializedAsync()
    {
        _game = await ApiService.GetByIdAsync<GameModel>(Id);
        
        //TODO: Filter by game/size and get ordered
        _portraits = await ApiService.GetAllPaginated<PortraitModel>(_currentPortraitsPage, 8);
    }

}