


.featured-grid {
    
}

.banner {
    width: 100%;
    height: auto;
    background-color: black;
}

.navbar-horizontal-always {
    flex-direction: row;
}

.content {
    
    .content-body {
        margin: 0 45px;
    }
}

.portrait-box {
    padding: 12px;
}

.game-box {
    padding: 12px;
}

.featured-grid {
    display: grid;

    .content-box {
        text-align: center;

        .image {
            width: 100%;
            height: auto;
        }
    }
}