


.featured-grid {
    
}

.banner {
    width: 100%;
    height: auto;
    background-color: black;
}

.navbar-horizontal-always {
    flex-direction: row;
}

.content {
    
    .content-body {
        margin: 0 45px;
        
        .content-section {
            
            .featured-grid {
                display: grid;
                
                .content-box {
                    
                }
            }
        }
    }
}