@page "/"
@using CrpgP.WebApplication.Components.Layout
@using CrpgP.WebApplication.Models
@using CrpgP.WebApplication.Services
@layout HomeLayout
@inject ApiService ApiService

<PageTitle>CRPG Portraits</PageTitle>


<div class="banner">
    <img class="banner-image" src="images/tmp_banner.png" alt="Banner image">
</div>


<div class="navigation">
    <NavMenu/>
</div>


<div class="content">
    <div class="content-body">
        
        <div class="content-section welcome">
            <h2>Welcome</h2>
            <p>
                Welcome to CRPG Portraits, a site dedicated for fans of the crpg game genre. Here you can find a portrait
                that fits your character just right, for a more immersive role playing experience in your adventure.
            </p>
        </div>

        <div class="content-section featured">
            <div class="section-title">
                <h2>Featured Portraits</h2>
            </div>
            <div class="featured-portraits-grid">
                <p>
                    <em>Loading...</em>
                </p>
            </div>
        </div>
        
        <div class="content-section games">
            <div class="section-title">
                <h2>Games</h2>
            </div>
            
            <div class="games-grid">
                @if (_games == null)
                {
                    <p>
                        <em>Loading...</em>
                    </p>
                }
                else
                {
                    foreach (var game in _games)
                    {
                        <ContentBox
                            DisplayName=@game.Name
                            Slug="slug"
                            ImagePath="path"/>
                    }
                }

            </div>
        </div>
    </div>
</div>


@code
{
    private IEnumerable<GameModel>? _games;

    protected override async Task OnInitializedAsync()
    {
        _games = await ApiService.GetAllGames();
    }

}
