.banner {
    /*width: 100%;*/
    /*height: auto;*/
    background-color: black;

    .banner-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        max-height: 220px;
        max-width: 555px;
    }
}


.content {

    .content-body {
        margin: 0 45px;

        .content-section {
            margin-bottom: 35px;
        }
    }
}


.portrait-box {
    /*padding: 12px;*/
    padding: 0;
    margin: 1px;
    width: 24%;
}


.portrait-section {
    margin-bottom: 45px;
}

.related-portraits-grid {
    display: grid;

    .content-box {
        text-align: center;

        .image {
            width: 100%;
            height: auto;
        }
    }
}

.row {
    margin: 0;
}