.content {

    .content-body {
        margin: 0 45px;
    }
}

.portrait-box {
    /*padding: 12px;*/
    padding: 0;
    margin: 1px;
    width: 24%;
}

.portraits-grid {
    display: grid;

    .content-box {
        text-align: center;

        .image {
            width: 100%;
            height: auto;
        }
    }
}

.row {
    margin: 0;
}