<div class="content-box">
    <img class="image" src="./images/placeholder-600x600.png" alt="Portrait image">
    @if (DisplayName == string.Empty)
    {
        <span class="title">@DisplayName</span>
    }
</div>


@code {
    [Parameter]
    public required string DisplayName { get; set; }
    [Parameter]
    public required string ImagePath { get; set; }
    [Parameter]
    public required string Slug { get; set; }
}