<div class="footer bg-dark">
    <div class="footer-content-wrapper">
        <div class="footer-content left">
            <a class="nav-link" href="/contact">Contact</a>
            <a class="nav-link" href="/about">About</a>
            <a class="nav-link" href="/privacy">Privacy</a>
            <a class="nav-link" target="_blank" href="https://github.com/PorkyOrk/">GitHub</a>
        </div>
        <div class="footer-content right">
            <a class="nav-link" href="/">Back to Top</a>
            <a class="nav-link" href="/games">Games</a>
            <a class="nav-link" href="/portraits">Portraits</a>
        </div>
    </div>
    <div class="footer-bottom">
        <span>Made by PorkyOrk in 2024</span>
    </div>
</div>

@code {
    
}