@inherits MainLayout

<div class="page">
    <div class="banner">
        <img class="banner-image" src="images/tmp_banner.png" alt="Banner image">
    </div>
    <NavMenu/>
    @Body
    <Footer></Footer>
</div>